
.path {
    padding: 10px;

}
.path li {
    display: inline-block;
    position: relative;
}
.path li a {
    padding: 10px;
}   
.path li:after {
    content: ">";
    position: absolute;
    right: -5px;
    bottom: -2px;
}
.path li:last-child:after{
    content: ' ';
} 
.path li:last-child a{
    color: rgb(68, 160, 68);
}
