*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* 
style pathDiv */
#padthDiv{
    display: flex;
    justify-content: space-between;
    height: 100px;
}
#padthDiv ul {
    padding: 40px 0px;
}
#padthDiv div {
    padding: 35px 0px;
}
.historyLink{
    color: black;
}

/* style contentForm */
#contentForm {
    display: flex;
    justify-content: space-between;
}
#contentForm > div{
    
    border: 3px solid #ebebeb;
    padding: 20px;
    border-radius: 5px;
}
#contentForm > div  h3 {
    text-align: center;
    margin-bottom: 20px;
}
#billForm {
    max-width: 350px;
}
#billForm div{
    padding: 10px;
}
#billForm div label {
    display: inline-block;
    padding: 5px;
    width: 150px;
    text-align: center;
    background-color: rgb(241, 247, 241);
}
#billForm div input {
    display: block;
    outline: none;
    width: 150px;
    height: 30px;
    padding: 10px;
    border: none;
    background-color: rgb(198, 223, 198);
    border-radius: 3px;
}
#productForm {

    max-width: 650px;
    width: 100%;
}
#product {
    text-align: center;
}
#product label {
    display: inline-block;
    padding: 5px;
    width: 200px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(241, 247, 241);
    border-radius: 3px;
    margin: 10px;
    height: 30px;
}
#mahoadonxuat {
    display: inline-block;
    width: 300px;
    height: 40px;
    border: none;
    outline: none;
    background-color: rgb(198, 223, 198);
    border-radius: 3px;
    padding: 10px;
}
#product input {
    display: inline-block;
    outline: none;
    width: 300px;
    height: 30px;
    padding: 20px;
    border: none;
    background-color: rgb(198, 223, 198);
    border-radius: 3px;
}
#butDiv{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 50px;
}
#butDiv button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    height: 50px;
    max-width: 200px;
    font-size: 16px;
    background-color: rgb(130, 233, 170);
    line-height: 0px;
}
#butDiv a {
    display: inline-block;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-weight: bold;
    height: 50px;
    max-width: 200px;
    font-size: 16px;
    line-height: 8px;
    background-color: rgb(223, 160, 145);
}
#butDiv a:hover {
    background-color: rgb(179, 119, 105);

}
#butDiv button:hover {
    background-color: rgb(86, 151, 111);
}
